@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

:root {
  --app-primary: #d61c1c;
  --app-primary-muted: #ed2f2f;
  --app-background: #d4d4d4;
  --app-background-muted: #9a9a9a;
  --app-foreground: #060606;
  --app-foreground-muted: #3b3b3b;
}

[data-theme="dark"] {
  --app-primary: #1c38d6;
  --app-primary-muted: #2f4ced;
  --app-background: #060606;
  --app-background-muted: #0e0e0e;
  --app-foreground: #ededed;
  --app-foreground-muted: #3b3b3b;
}

@theme inline {
  --font-sans: "Manrope", sans-serif;
  --color-primary: var(--app-primary);
  --color-primary-muted: var(--app-primary-muted);
  --color-background: var(--app-background);
  --color-background-muted: var(--app-background-muted);
  --color-foreground: var(--app-foreground);
  --color-foreground-muted: var(--app-foreground-muted);
}

@layer utilities {
  .hide-arrows {
    appearance: textfield;
    -moz-appearance: textfield;
  }

  .hide-arrows::-webkit-outer-spin-button,
  .hide-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

html {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1425px) {
  .container {
    max-width: 1425px;
  }
}