@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", sans-serif;
  --color-primary: #2f4ced;
  --color-primary-muted: #1c38d6;
  --color-background: #060606;
  --color-background-muted: #0e0e0e;
  --color-foreground: #ededed;
  --color-foreground-muted: #3b3b3b;
}

html{
  background-color: var(--color-background);
  color: var(--color-foreground);
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1425px) {
  .container {
    max-width: 1425px;
  }
}